/* padding: 1rem; */


/* Table Rounding */
.table {
    display: inline-table;
    border-spacing: 0;
}

.table .thead   {
    display: block;
    background: hsl(240, 5%, 15%);
    border: 1px solid whitesmoke;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.table .tbody   {
    display: block;
    border-bottom: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table .tr .td, .table .tr .th {
    border-right: 1px solid whitesmoke;
}
.table .tr .td:last-of-type, .table .tr .th:last-of-type {
    border: none;
}

.table .tbody .tr {
    border-bottom: 1px solid whitesmoke;
}
.table .tbody .tr:last-of-type {
    border: none;
}

.th, .td {
    margin: 0;
    padding: 0.5rem;
    position: relative;
}

.th .resizer, .td .resizer {
    display: inline-block;
    background: blue;
    width: 10px;
    height: 80%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%) translateY(10%);
    z-index: 1;
    touch-action:none;
}

.th .resizer.isResizing, .td .resizer.isResizing {
    background: red;
}